

<div class="form-container">
  <form [formGroup]="contactForm" (ngSubmit)="save($event)">
    <p>
      Name: <br/>
      <input type="text" formControlName="nombre">
    </p>
    <p>
      Fecha: <br/>
      <input type="text" formControlName="apellido">
    </p>
    <p>
      Email: <br/>
      <input type="email" formControlName="direccion">
    </p> su Dirección">

    <button type="button" class="hola" (click)="MostrarUsuarios()">Mostrar</button>
    <button type="submit">Guardar</button> 
  </form>


</div>
<div *ngIf= "mostrarDatos">
  <app-database></app-database>


</div>